In [1]:
import pandas as pd 

filepath = r"C:\Users\deshpande\Desktop\Statistics project\SkillsNetworkLab\Capstone course\toronto.csv"

df = pd.read_csv(filepath)

In [2]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [3]:
df.shape

(287, 3)

In [4]:
df = df[df.Borough != 'Not assigned']
df.shape

(210, 3)

In [5]:
filepath =  r'C:\Users\deshpande\Desktop\Statistics project\SkillsNetworkLab\Capstone course\Geospatial_Coordinates.csv'

newdf = pd.read_csv(filepath)

In [6]:
df.sort_values(['Postcode'], inplace = True)
newdf.sort_values(['Postal Code'], inplace = True)

The following code will match the Postal code from 'Geospatial coordinates' data with Postcode from 
'Toronto Neighbourhoods' data.

In [7]:
lat = []
lang = []
for i in range(210):
    for j in range(103):
        if df.iloc[i,0] == newdf.iloc[j,0] :
            lat.append(newdf.iloc[j,1])
            lang.append(newdf.iloc[j,2])
            break

In [8]:
df["Latitude"] = lat
df["Longitude"] = lang
df.head(10)

   Postcode      Borough   Neighbourhood   Latitude  Longitude
10      M1B  Scarborough           Rouge  43.806686 -79.194353
11      M1B  Scarborough         Malvern  43.806686 -79.194353
28      M1C  Scarborough      Port Union  43.784535 -79.160497
27      M1C  Scarborough      Rouge Hill  43.784535 -79.160497
26      M1C  Scarborough  Highland Creek  43.784535 -79.160497
41      M1E  Scarborough       Guildwood  43.763573 -79.188711
42      M1E  Scarborough     Morningside  43.763573 -79.188711
43      M1E  Scarborough       West Hill  43.763573 -79.188711
52      M1G  Scarborough          Woburn  43.770992 -79.216917
61      M1H  Scarborough       Cedarbrae  43.773136 -79.239476