In [1]:
import pandas as pd 

filepath = r"C:\Users\deshpande\Desktop\Statistics project\SkillsNetworkLab\toronto.csv"

df = pd.read_csv(filepath)

We have copied the data to a .CSV file on the desktop and we have uploaded it into a data frame.

In [2]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [3]:
df.shape

(287, 3)

In [4]:
df = df[df.Borough != 'Not assigned']

Here, we kept the rows with Borough value different than 'Not assigned'.

In [5]:
df.shape

(210, 3)

In [6]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [ ]:
import geocoder

In [7]:
for i in range(0,df.shape[0]):
    if df.iloc[i,2] == 'Not assigned':
        df.iloc[i,2] = df.iloc[i,1]
        print(df.iloc[i,2])

Queen's Park

Here, we changed the neighbourhood value to borough value in case the neighbourhood value was 'Not assigned'

In [8]:
df.shape

(210, 3)

In [9]:
filepath =  r'C:\Users\deshpande\Desktop\Statistics project\SkillsNetworkLab\Capstone course\Geospatial_Coordinates.csv'

newdf = pd.read_csv(filepath)

In [10]:
newdf.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [ ]:
!conda install -c conda-forge geocoder
import geocoder

In [17]:


for pc in newdf['Postal Code']:
    lat_lng_coords = None
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(pc))
        lat_lng_coords = g.latlng
        df.latitude = lat_lng_coords[0]
        df.longitude = lat_lng_coords[1]

ModuleNotFoundError: No module named 'geocoder'

In [14]:
data

pandas.core.frame.DataFrame

In [1]:
leng = []
len(leng)

0